In [2]:
%load_ext autoreload
%autoreload 2

from pathlib import Path

import seaborn as sns

from data_managment import MDSampler, download_dataset_version

In [ ]:
data_dir = Path('../raw_data/')
save_dir = Path('data/')
path = Path('data/train_dataset.fth')

In [ ]:
path = Path('data/train_dataset.fth')

sampler = Sampler(path, asymmetric=False, dist_processing='log', sample_size=0.1)
pairs = sampler.sample()
sns.histplot(pairs.score);
pairs.reset_index().to_feather('data/log_symmetric_pairs.fth')

In [ ]:
import itertools

all_dataset_params = {
    'dist_processing': ['log', 'normalised', 'multiclass', 'log', 'binary'],
    'sample_method' :['harmonic'],
    'filtration' : ['first_md', 'full'],
    'asymmetric' : [True, False]
}

keys, values = zip(*all_dataset_params.items())
dataset_params = [dict(zip(keys, v)) for v in itertools.product(*values)]

for params in dataset_params:
    print(params)
    sampler = Sampler(path, sample_size=0.01, **params)
    pairs = sampler.sample()

In [ ]:
download_dataset_version('2022-06-30', )

In [ ]:
path = Path('data/train_dataset.fth')
sampler = Sampler(path, asymmetric=False, dist_processing='log', sample_size=0.1)

In [ ]:
df = sampler.sample_ranks(1000)

In [3]:
from data_managment import Dataset
a = Dataset(Path('../raw_data/train'), n=100)
df = a.prepare_and_save_data()
df.head()

100%|██████████| 100/100 [00:00<00:00, 267.23it/s]

,id,cell_id,cell_type,source,rank,ancestor_id,parent_id
0,005a0b5efe318c,2aeaa963,markdown,# Kaggle Seattle Airbnb\n\n## Project Info\n\n...,0,2d5d7ed0,NaN
1,005a0b5efe318c,2993372a,markdown,---\n\n# Airbnb Exploration\n\n## Who needs th...,1,2d5d7ed0,NaN
2,005a0b5efe318c,20bfc5dd,markdown,---\n\n# Dependencies,2,2d5d7ed0,NaN
3,005a0b5efe318c,ad61a02e,code,# Statistics\nimport pandas as pd\nimport nump...,3,2d5d7ed0,NaN
4,005a0b5efe318c,9c7e9cf9,markdown,---\n\n## Load Datasets\n\n- listings: The lis...,4,2d5d7ed0,NaN

In [4]:
df

,id,cell_id,cell_type,source,rank,ancestor_id,parent_id
0,005a0b5efe318c,2aeaa963,markdown,# Kaggle Seattle Airbnb\n\n## Project Info\n\n...,0,2d5d7ed0,NaN
1,005a0b5efe318c,2993372a,markdown,---\n\n# Airbnb Exploration\n\n## Who needs th...,1,2d5d7ed0,NaN
2,005a0b5efe318c,20bfc5dd,markdown,---\n\n# Dependencies,2,2d5d7ed0,NaN
3,005a0b5efe318c,ad61a02e,code,# Statistics\nimport pandas as pd\nimport nump...,3,2d5d7ed0,NaN
4,005a0b5efe318c,9c7e9cf9,markdown,---\n\n## Load Datasets\n\n- listings: The lis...,4,2d5d7ed0,NaN
...,...,...,...,...,...,...,...
4146,fce6499e20976f,7b5cc150,code,from pandas import DataFrame,109,faa56a2c,NaN
4147,fce6499e20976f,3a2de37f,code,"predict = pd.DataFrame(predictions, columns=[""...",110,faa56a2c,NaN
4148,fce6499e20976f,67e434f1,markdown,### Model Evaluation,111,faa56a2c,NaN
4149,fce6499e20976f,b90f5842,code,"np.sqrt(mean_squared_error(test_data, predicti...",112,faa56a2c,NaN
4150,fce6499e20976f,338e81e5,markdown,### Conclusion:\n#### Compared to the moving a...,113,faa56a2c,NaN